<div class="wrapper">
    <div class="sidebar">
        {{> sidebar}}
    </div>
    <div class="main_content">
        <div class="header">
            {{> header}}
        </div>  
        <div class="info">
            <div class="baslik-text" >
                <p style="font-size: x-large; font-weight: 500; margin: 10px 10px 10px 15%;" >Kiracıyı Ekle</p> 
            </div>

            <!-- Ev 1  -->
            <div class="emlak-ornek" >
                <img id="image" src="{{emlak.kapak_image}}" style="float: left;" alt="Emlak Örnek Görsel" width="200px" >

                <form action="/emlaklar/kiraciyi-ekle/{{emlak._id}}" method="POST">
                    <div class="emlak-ornek-text" style="padding-left: 240px;" >
                    <span style="font-size: 24px; font-weight: 550;" >{{emlak.baslik}}</span>
                    <br><br>
                    <i class="fas fa-map-marker-alt" style="font-size: 2rem; padding-top: 10px; " ></i>
                    <span contentEditable="true" style="padding-left: 15px; padding-top: 10px; position: absolute;" >{{emlak.mahalle}} Mah, {{emlak.cadde}} Cad, {{emlak.sokak}} Sok, {{emlak.apart_no}} / {{emlak.daire_no}} <br>
                        {{emlak.ilce}}, {{emlak.sehir}}, {{emlak.ulke}} </span>
                    <br><br><br>


                    <div style="transform: translateY(130%);">Kiracı:</div>
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <div class="custom-select"style="width:250px;">
                        <select name="kiraci" >
                        <option value="0">Seçin</option>
                        {{#each kiraci}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                        </select>
                    </div>

                    <br><br>
                    <span style="display: inline;" >Giriş Tarihi:</span>
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <div class="kiraci-tarih" style="transform: translateY(-80%);">
                        <input type="date" name="giris_tarihi" id="kiraci-tarih">
                    </div>

                    <br><br>
                    <span>Çıkış Tarihi:</span>
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <div class="kiraci-tarih" style="transform: translateY(-80%);">
                        <input type="date" name="cikis_tarihi" id="kiraci-tarih">
                    </div>

                    <br>
                    <div style="transform: translateY(130%);">Kira Ödeme Günü:</div>
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <div class="kiraci-box">
                        <label for="kiraci-input"  class="kiraci-input-label" >Her ayın..</label>
                        <input type="text" class="kiraci-input" name="odeme_gunu" onfocus="focusSearchKiraci(0)" onfocusout="notfocusSearchKiraci(0)" >
        
                    </div>
                    <br>

                    <div style="transform: translateY(130%);">Kira Ücreti:</div>
                    <!-- Surround the select box within a "custom-select" DIV element.
                    Remember to set the width: -->
                    <div class="kiraci-box">
                        <label for="kiraci-input"  class="kiraci-input-label" >...tl</label>
                        <input type="text" class="kiraci-input" name="kira_ucreti" onfocus="focusSearchKiraci(1)" onfocusout="notfocusSearchKiraci(1)" >
        
                    </div>


                    <br><br><br>
                    <button id="kiraciyi-ekle-button" type="submit" style="display: inline;">Ekle -></button>

                </div>
            </form>

                


            </div>


        </div>
    </div>
</div>

<script src="/js/emlaklar-kiraciyi-ekle/search.js"></script>
<script src="/js/emlaklar-kiraciyi-ekle/search-kiraci.js"></script>
<script src="/js/emlaklar-kiraciyi-ekle/select-operation.js"></script>