<div class="wrapper">
    <div class="sidebar">
        {{> sidebar}}
    </div>
    <div class="main_content">
        <div class="header">
            {{> header}}
        </div>  
        <div class="info">
            <br>
            <div >
                <p style="margin-left: 50px; margin-top: 150px; font-size:30px;"> Emlaklar</p> 
                <p style="margin-left: 59%;" >{{adet}} Toplam | </p>

                <button class="btnSearchIcon"><i class="fa fa-search" onclick="searchEmlak()"  ></i></button>

                <div class="search-box"  >
                    <label for="emlak-search-input"  id="emlak-search-input-label-info" style="transform: translate(0%, -10%);" >Ara</label>
                    <input type="text" id="emlak-search-input" name="emlak-search-input" onfocus="focusSearchEmlak()" onfocusout="notFocusSearchEmlak()" >
    
                </div>

                <div class="emlak-ekle-button" >
                    <i class="fas fa-plus"></i>
                    <span style="padding-left: 10px; cursor: pointer;" onclick="window.location = '/emlaklar/emlak-ekle'" >Emlak Ekle</span>      

                </div>

            </div>

            <!-- Ev 1  -->
            {{#each emlak}}
                <div class="emlak-ornek"  >
                    <img id="image" src="{{kapak_image}}" onclick="window.location = '/emlaklar/{{_id}}'" style="float: left; cursor:pointer" alt="Emlak Örnek Görsel" width="160px" >

                    <div style="padding-left: 180px;" >
                        <span id="emlak-baslik" style="font-size: 24px; font-weight: 550; cursor:pointer" >{{baslik}}</span>
                        <form action="/emlaklar/sil/{{_id}}" id="emlak-sil-form-{{_id}}" method="GET">
                            <i class="fas fa-times-circle" onclick= "silEmlak(`{{_id}}`)"  style="cursor: pointer; float: right; margin-right: 10px;" ></i>
                        </form>
                        <i class="fas fa-map-marker-alt" style="font-size: 2rem; padding-top: 10px; " ></i>
                        <span style="padding-left: 15px; padding-top: 10px; position: absolute;" > {{mahalle}} Mah, {{cadde}} Cad, {{sokak}} Sok, {{apart_no}} / {{daire_no}} <br>
                            {{ilce}}, {{sehir}}, {{ulke}} </span>
                        <br><br><br>
                        <div style="display: inline-block; padding-top: 10px; background-color: #43425D; text-align: center; font-size: 24px; color: white; width: 120px; height: 50px;" >{{durum}}</div>
                        <div style="display: inline-block; padding-top: 10px; margin-left: 15px; background-color: #43425D; text-align: center; font-size: 24px; color: white; width: 120px; height: 50px;" >{{fiyat}} ₺</div>
                        <div onclick="window.location = '/emlaklar/kiraciyi-ekle/{{_id}}'" style="cursor: pointer; display: inline-block;  padding-top: 10px; margin-left: 15px; background-color: #43425D; text-align: center; font-size: 24px; color: white; width: 120px; height: 50px;" >Ekle</div>

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/js/emlaklar/search.js"></script>
<script src="/js/emlaklar/search-emlak.js" ></script>

<script>
    function silEmlak(id){
        console.log("id " + id)

        if (confirm('Bu emlağı silmek istediğine emin misin?')) {

            console.log("id " + id)
            // Save it!
            $("#emlak-sil-form-" + id).submit();
            console.log('siliniyo');
        } else {
        // Do nothing!
            console.log('Thing was not saved to the database.');
        }
    }

</script>