<div class="wrapper">
    <div class="sidebar">
        {{> sidebar}}
    </div>
    <div class="main_content">
        <div class="header">
            {{> header}}
        </div>  
        <div class="info">
            <br>
            <div class="baslik-text" >
                <p style="font-size: 30px; margin-left:50px;" >Profil</p> 
            </div>

            <!-- Ev 1  -->
            <div class="emlak-ornek" >
                <!--
                    <img id="image" src="{{user.kapak_image}}" style="float: left;" alt="Emlak Örnek Görsel" width="200px" >
                -->

                <form action="/profil" method="POST">

                    <div class="emlak-ornek-text" >
                        <span style="text-decoration: underline; font-size: 28px; font-weight: 550;" >Profili Düzenle</span>
                        <span onclick="window.location = '/profil/sifre-degistir'" style=" cursor:pointer; text-decoration: underline; margin-left:100px; font-size: 18px; font-weight: 550;" >Şifre Değiştir</span>

                        <br><br>

                        <div style="transform: translateY(170%);">İsim:</div>
                        <div class="kiraci-box">
                            <input type="text" value="{{user.name}}" class="kiraci-input" name="name">
                        </div>
                        <div style="transform: translateY(170%);">Soyisim:</div>
                        <div class="kiraci-box">
                            <input type="text" value="{{user.surname}}" class="kiraci-input" name="surname">
                        </div>
                        <div style="transform: translateY(170%);">Email:</div>
                        <div class="kiraci-box">
                            <input type="text" value="{{user.email}}" class="kiraci-input" name="email">
                        </div>
                        <div style="transform: translateY(170%);">Kullanıcı adı:</div>
                        <div class="kiraci-box">
                            <input type="text" value="{{user.username}}" class="kiraci-input" name="username">
                        </div>
                        <div style="transform: translateY(170%);">Mevcut Şifreniz:</div>
                        <div class="kiraci-box">
                            <input required type="password" class="kiraci-input" name="password">
                        </div>


                        <br><br><br>
                        <button id="kiraciyi-ekle-button" type="submit" style="display: inline;">Düzenle -></button>

                    </div>


                </form>


            

            </div>


        </div>
    </div>
</div>

